.Sos_img{
    margin-top: 10px;
    width:250px;
}
.Button-sos{
    border-radius: 30px;
    background-color :#5775FF;
    border:none;
    color: white;        
    font-weight: bold;
  
    width: 220px;
    height: 40px;
    box-shadow: 0px 5px 7px gray;
    margin-top: 50px;
}
.Button-sos2{
    background: #31DA89;
    margin-top: 25px;
}
.Button-sos3{
    background: white;
    margin-top: 25px;
    color: #F76C31;   
}
.Texte-sos{
    position: static;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;

    line-height: 16px;
    font-size: 26px;
    text-align: center;
    color: #4FADEA;
margin-top: 20px;
}