.Text_connexion {
    color: #5775FF;
    font-weight: bold;

}

.Text{
    color: #5775FF;
    font-weight: bold;

}

.Text2{
    color: #5775FF;

}

.Entree{
    border-radius: 30px;
    width: 300px;
}

.Valider{
    border-radius: 30px;
    background-color :#5775FF;
    border:none;
    color: white;        
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 40px;
    box-shadow: 0px 5px 7px gray;

}