.img-stress{
    width: 70px;
    height: 70px;
    visibility: "hidden";
}
.box-stress{


    width: auto;
    height: auto;

    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.txt-stress{



font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}