.btn-blue{
    align-items: center;
    
    background: #5775FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.btn-light-gray{

    
    background: #EBEFF8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}