

.text_bienvenue{
position: static;
font-family: Raleway, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
text-align: center;
color: #5775FF;
}

.logo-bibo{
    width: 308px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  
}



.Button {
    margin: 2em;
    position: relative;
}

#nav {
    padding:0;
    margin:0;
}

#nav li{
    display: inline;
    list-style: none;
}


.Bouton_connexion{
    border-radius: 30px;
    background-color: #5775FF;
    border:none;
    color: white;
    box-shadow: 0px 5px 7px gray;
    font-weight: bold;
    width: 200px;
    height: 40px;
    text-align: center;
    top: 110px;

}

.Bouton_inscription{
    border-radius: 30px;
    background-color: #EBEFF8;
    border:none;
    color: #5775FF;
    font-weight: bold;
    width: 200px;
    height: 40px;
    box-shadow: 0px 5px 7px gray;
    top: 70px;


}



