.Home {
    padding-top: 50%;
}

.Button {
    margin: 2em;
}

#nav {
    padding:0;
    margin:0;
}

#nav li{
    display: inline;
    list-style: none;
}


.Bouton_connexion{
    border-radius: 30px;
    background-color: #5775FF;
    border:none;
    color: white;
    box-shadow: 0px 5px 7px gray;
    font-weight: bold;
    width: 150px;
    height: 40px;
    text-align: center;

}

.Bouton_inscription{
    border-radius: 30px;
    background-color: white;
    border:none;
    color: #5775FF;
    font-weight: bold;
    width: 150px;
    height: 40px;
    box-shadow: 0px 5px 7px gray;


}

.Bienvenue{
    color: #5775FF;
    font-weight: bold;
    font-size: 2em;

}

